html,body{
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

ul li {
    padding: 0;
    list-style-type: none;
}

:root{
    --cyan:hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-grey:hsl(204, 43%, 93%);
    --grayish-blue:hsl(218, 22%, 67%);
}

.section{
    margin: 20px 20px   ;
    padding: 20px 250px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.first{
    grid-column: 1 / span 3;
    padding: 10px 10px;
    background-color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0px 1px 50px 4px var(--light-grey);
    width: 60vw;
    padding: 20px 20px;
}

.first h1{
    color: var(--cyan);
    font-weight: 800;
}

.first h2{
    color: var(--bright-yellow);
    font-weight: 700;
}

.first p{
    color: var(--grayish-blue);
    font-weight: 500;
    line-break: strict;
    font-size: 20px;
}

.second{
    background: rgb(21, 150, 150);
    /* background: var(--cyan); */
    border-bottom-left-radius: 5px;
    width: 25vw;
    height: 40vh;
    padding: 20px 60px;
}

.second h4{
    color: var(--light-grey);
    font-size: 20px;
}

.second .span .first-span{
    color: var(--light-grey);
    font-size: 30px;
}

.second .span .second-span{
    padding-left: 1rem;
    color: var(--grayish-blue);
    font-weight: 1000;
}

.second p{
    color: var(--light-grey);
    font-weight: 2000;
}

.second .btn button{
    width: 20vw;
    height: 8vh;
    color: var(--light-grey);
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    background: var(--bright-yellow);
    border-color: var(--bright-yellow);
    border-bottom-color: var(--bright-yellow);
    box-shadow: 1px 1px 20px 1px rgb(21, 150, 150) ;
    cursor: pointer;
    margin-top: 10px;
}

.second .btn button:hover{
    box-shadow: 1px 1px 20px 1px var(--bright-yellow);
}


.third{
    background: var(--cyan);
    width: 20.4vw;
    padding: 20px 60px;
    border-bottom-right-radius: 5px;
}

.third h4{
    color: var(--light-grey);
    font-weight: 500;
    font-size: 20px;
}

.third ul{
    padding: 0;
}

.third ul li{
    color: var(--light-grey);
    line-height: 21px;
}

/* media query */
/* @media screen and (max-width:1400px){
    .third{
        width: 21vw;
    }
} */

@media screen and (max-width:375px){
    
    .section{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .first{
        width: 89vw;
    }

    .second{
        width: 67vw;
        border-radius: none;
        border-bottom-left-radius: 0;
    }

    .second .btn button{
        width: 40vw;
    }
    .third{width: 67vw;}
}